@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 180 8% 95%;
    --foreground: 180 8% 5%;

    --card: 180 8% 95%;
    --card-foreground: 180 8% 5%;

    --popover: 180 8% 95%;
    --popover-foreground: 180 8% 5%;

    --primary: 186 38% 43%;
    --primary-foreground: 180 9% 98%;

    --secondary: 180 11% 91%;
    --secondary-foreground: 180 8% 5%;

    --muted: 195 9% 91%;
    --muted-foreground: 186 9% 45%;

    --accent: 192 11% 91%;
    --accent-foreground: 180 8% 5%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 190 9% 87%;
    --input: 187 9% 81%;
    --ring: 186 36% 72%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 3% 6%;
    --foreground: 0 0% 98%;

    --card: 30 6% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 30 6% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 13 98% 52%;
    --primary-foreground: 0 0% 98%;

    --secondary: 15 5% 15%;
    --secondary-foreground: 0 0% 98%;

    --muted: 20 5% 22%;
    --muted-foreground: 10 5% 49%;

    --accent: 15 45% 14%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 20 5% 12%;
    --input: 15 4% 18%;
    --ring: 13 97% 40%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
